<main class="main-content">
    <hidden value="{{seconds}}" class="timeout-seconds"></hidden>
    <div class="client-profile-container">
        <!-- Основная информация о клиенте -->
        <h1>{{client.firstName}} {{client.lastName}}</h1>

        <form action="/clientProfile/{{client.id}}" method="post">
            <label for="firstName" class="profile-label">*Имя:</label>
            <input type="text" id="firstName" name="firstName" class="profile-input" value="{{client.firstName}}">

            <label for="lastName" class="profile-label">Фамилия:</label>
            <input type="text" id="lastName" name="lastName" class="profile-input" value="{{client.lastName}}">

            <label for="phone" class="profile-label">*Телефон:</label>
            <input type="text" id="phone" name="phone" class="profile-input" value="{{client.phone}}">

            <label for="telegramId" class="profile-label">*Телеграм:</label>
            <input type="text" id="telegramId" name="telegramId" class="profile-input" value="{{client.telegramId}}">
            {{#each errors}}
            <p style="color:#f00">{{this.msg}}</p>
            {{/each}}
            <button type="submit" class="btn profile-btn">Изменить</button>
            {{!-- {{#if client.isBlock}}
            <button type="button" class="btn profile-btn unlock-btn lock-btn">Разблокировать</button>
            {{else}}
            <button type="button" class="btn profile-btn block-btn lock-btn">Заблокировать</button>
            {{/if}} --}}
        </form>

        <!-- Раздел подписки -->
        {{#if promo}}
        <div class="subscription-section">
            <h2>Статус: <span class="subscription-status">{{#if promo.isEnabled}}Активна{{else}}Отключена{{/if}}</span>
            </h2>
            <div class="subscription-details">
                <span class="subscription-name">{{promo.title}}</span>
                <span class="subscription-end">{{#if promo.isEnabled}}До окончания: {{getDaysOver promo.endDate}}
                    дней{{else}}Период действия подписки истёк{{/if}}</span>
                {{#if (not promo.isEnabled)}}
                <button type="button" class="btn update-subscription-btn">Продлить подписку</button>
                {{/if}}
            </div>

            <div class="products-section">
                {{#each products}}
                <div class="product-item">
                    <span><span class="product-name">{{this.name}}</span> - {{this.quantity}} шт.</span>
                    <button type="button" id="product{{this.id}}" class="btn deduct-btn">Списать</button>
                </div>
                {{/each}}
            </div>
        </div>
        {{else}}
        <div style="margin-top: 15px;">
            <select name="subscription" id="subscriptions">
                {{#each subscriptions}}
                <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
            </select>
        </div>
        <button type="button" class="btn subscription-btn">Оформить подписку</button>
        {{/if}}

        <!-- Раздел истории операций -->
        {{#if operations}}
        <div class="operations-history">
            <h2>История операций</h2>
            {{#each operations}}
            <div class="operation-item">
                <span>Дата: {{getTime this.createdAt}}</span>
                <span>Товар: {{this.ProductToSell.name}}</span>
                <span>Сотрудник: {{this.Worker.firstName}} {{this.Worker.lastName}}</span>
            </div>
            {{/each}}
            <!-- Больше записей истории -->
        </div>
        {{/if}}
    </div>
    <div id="popup-overlay" class="popup-overlay">
        <div class="popup-content">
            <h2>Введите код</h2>
            <input type="text" id="verification-code" placeholder="Введите код" class="input-field">
            <div class="button-group">
                <button id="resend-code" class="btn">Отправить ещё раз</button>
                <button id="confirm-code" class="btn confirm-btn">Подтвердить</button>
            </div>
        </div>
    </div>
</main>

<script src="/scripts/clientProfile.js"></script>