
        <main class="main-content">
            <section class="block">
                <h3>Всего регистраций: <span>{{clients.length}}</span></h3>
                <div class="registrations">
                    {{#each clients}}
                    <div class="registration-item">{{this.firstName}} {{this.lastName}} {{getMainTime this.createdAt}}</div>
                    {{/each}}
                </div>
            </section>

            <section class="block">
                <h3>Всего продаж за сегодня</h3>
                <p>Подписок продано: <span>{{promos.length}}</span></p>
                {{!-- <p>Прочих продаж: <span>15</span></p>
                <p>Итого: <span>40</span></p> --}}
            </section>

            <section class="block">
                <h3>Топ сотрудников</h3>
                {{#each topWorkers}}
                <div class="employee-item">{{this.workerFirstName}} {{this.workerLastName}} — {{this.sells}} продаж</div>
                {{/each}}
            </section>
        </main>
