<main class="main-content">
    <div class="profile-container">
        <!-- Заголовок с именем и фамилией сотрудника -->
        <h1>{{worker.firstName}} {{worker.lastName}}</h1>
        {{#if worker.isBlock}}
        <p style="color:#f00">ЗАБЛОКИРОВАН</p>
        {{/if}}
        <!-- Форма для редактирования информации о сотруднике -->
        <form class="employee-profile-form" enctype="multipart/form-data" method="post">
            <label for="firstName">Имя</label>
            <input type="text" value="{{worker.firstName}}" id="firstName" name="firstName" required>

            <label for="lastName">Фамилия</label>
            <input type="text" value="{{worker.lastName}}" id="lastName" name="lastName" required>

            <label for="phone">Номер телефона</label>
            <input type="tel" value="{{worker.phone}}" id="phone" name="phone" required>

            <label for="placeWork">Название магазина</label>
            <select name="placeWork" id="placeWork" style="margin-bottom: 50px">
                <option value="{{placeWork.id}}" selected>{{placeWork.name}}</option>
                {{#each placeWorks}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>

            <label for="telegramId">Телеграм (необязательно)</label>
            <input type="text" id="telegramId" name="telegramId" value="@{{worker.telegramId}}">

            <!-- Кнопка для изменения информации -->
            <button type="submit" class="update-button">Изменить</button>
        </form>

        <!-- Раздел для смены пароля -->
        <h2>Сменить пароль</h2>
        <form class="password-change-form" method="post">
            <label for="password">Новый пароль</label>
            <input type="password" id="password" name="password" required>

            <label for="passwordConfirm">Подтвердить новый пароль</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" required>
            <button type="submit" class="update-button">Сменить пароль</button>
        </form>

        <!-- Кнопка для увольнения сотрудника -->
        {{#if (not worker.isBlock)}}
        <button class="fire-button" id="{{worker.id}}">Уволить</button>
        {{else}}
        <button class="unlock-button" id="{{worker.id}}">Разблокировать</button>
        {{/if}}
    </div>
</main>


<script src="/scripts/workerProfile.js"></script>